.contacts {
  display: grid;
  align-items: center;

  &__title {
    padding-block: 80px;
  }

  &__main {
    display: grid;
    max-width: 468px;
    display: grid;
    gap: 48px;
    align-self: start;
  }

  &__wrapper {
    padding-block: 48px;
    display: flex;
    justify-content: space-between;
    gap: 126px;
  }

  &__call {
    display: grid;
    gap: 12px;
  }

  &__body {
    display: grid;
    gap: 24px;
  }

  &__socials {
    display: grid;

    &-link.contacts__socials-link {
      color: var(--color-accent-default);
      text-decoration: underline;

      @include hover {
        color: var(--color-accent-hovered);
      }

      &:focus-visible {
        background-color: var(--color-secondary-default);
        outline: none;
        border-radius: var(--border-radius-small-x);
      }

      &:active {
        color: var(--color-accent-active);
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    &-button {
      display: inline-flex;
      color: var(--color-primary-default);
      padding: 0;
    }
  }
}