.header {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: var(--color-bg);
  display: grid;
  align-items: center;
  padding-block: 20px;
  grid-template-columns: min-content min-content auto;
  gap: 16px;

  &__logo {
    padding: 12px 24px 12px 0;
  }

  &__nav {
    justify-self: start;
    align-self: center;
  }

  &__socials {
    justify-self: end;
  }
}