.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-bg);
  align-items: center;
  padding-block: fluid(20, 8);
  gap: 16px;
  z-index: 20;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;

  @include tablet-above {
    grid-template-columns: min-content min-content 1fr auto;
    justify-content: start;
  }

  &__logo {
    padding: 12px 20px 12px 0;
  }

  &__dialog {
    padding: 64px 16px 24px;
    position: fixed;
    inset: 0 auto auto 0;
    border: none;
    border-bottom: var(--border-disabled);
    width: 100%;
    margin: 0;
    background-color: var(--color-bg);
    row-gap: 8px;

    display: flex;
    flex-direction: column;

    transform: translateY(-100%);
    opacity: 0;

    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include tablet-above {
      display: contents;
    }
  }

  &__nav {
    justify-self: start;
    align-self: center;

    @include tablet {
      align-self: start;
    }
  }

  &__socials {
    justify-self: end;

    @include tablet {
      align-self: start;
    }

    &--admin {
      justify-self: start;
    }
  }

  &__control-buttons {
    display: flex;
    column-gap: 8px;
    flex-shrink: 0;

    @include mobile-l {
      margin-top: 16px;
    }
  }
}