.posts {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: min-content auto;

  &__masonry {
    display: flex;
    margin-left: -24px;
    width: auto;

    @include tablet {
      margin-left: -16px;
    }
  }
}

.posts-grid_column {
  padding-left: 24px;
  background-clip: padding-box;

  @include tablet {
    padding-left: 16px;
  }
}