.select-dropdown {
  position: relative;
  z-index: 10;
  max-width: 260px;
  width: 100%;

  @include tablet {
    max-width: none;
    width: auto;
    &__button {
      padding: 12px;
      span {
        display: none;
      }
    }
  }

  &--radio {
   @include tablet-above {
     &:has(.select-dropdown__dropdown) .select-dropdown__button {
       svg {
         transform: rotate(-180deg);
       }
     }
   }
  }

  @include mobile-above {
    &__text {
        white-space: nowrap;
      }
  }

  &--checkbox {
    max-width: 170px;

    .select-dropdown__dropdown {
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: #66380A transparent;
    }

    .select-dropdown__button {
      justify-content: center;
    }

    @include mobile-l {
      max-width: none;

      .select-dropdown__dropdown {
        position: fixed;
        left: 16px;
        right: 16px;
        top: 170px;
        width: auto;
        max-width: none;
      }
    }

    @include mobile {
      .select-dropdown__dropdown {
        top: 146px;
      }
    }
  }

  svg {
    transition-duration: var(--transition-duration);
  }

  &:has(.select-dropdown__dropdown) .select-dropdown__button {
    outline: 1px solid var(--color-disabled-text);
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 16px 36px 16px 28px;
    border-radius: var(--border-radius-large);
    border: var(--border);
  }

  &__arrow {
    display: inline-flex;
  }

  &__custom-radio {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-primary-default);
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;

    @include hover {
      background-color: var(--color-secondary-default);
    }

    &:active {
      background-color: var(--color-secondary-pressed);
    }
  }

  &__input {
    &--radio {
      opacity: 0;
      pointer-events: none;
      position: absolute;
    }

    &--radio:checked + .select-dropdown__custom-radio::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: var(--color-primary-default);
      inset: 4px;
    }

    &--radio:focus-visible + &__custom-radio {
      outline: 4px solid var(--color-focused-text);
    }

    &--checkbox {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: var(--border-radius-small-x);
      color: var(--color-primary-default);
      border: 2px solid var(--color-primary-default);
      margin: 0;

      &:checked {
        background: var(--color-primary-default) url("/client/assets/icons/ok.svg") no-repeat center / 12px 10px;
      }
    }
  }

  &__label {
    padding: 12px 2px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}