.drop-image {
  border-radius: var(--border-radius-medium);
  height: 100%;
  width: 100%;
  display: flex;

  &__button.drop-image__button {
    border-color: var(--color-primary-default);
    max-width: 287px;
  }

  &__dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #7b4307;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    object-fit: contain;

    @include tablet {
      padding: 16px;
    }
  }

  .dropzone.is-active {
    background-color: #f6eadc;
    border-color: #5f3204;
  }

  .dropzone__input {
    display: none;
  }

  &__body {
    background-color: var(--color-bg);
    padding: fluid(110, 95) fluid(60,32);
    position: relative;
    border-radius: 24px;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
      border-radius: 24px;

      background:
        /* top */
        repeating-linear-gradient(
          to right,
          #7b4307 0 20px,
          transparent 20px 32px
        ) top left / 100% 2px no-repeat,

          /* bottom */
        repeating-linear-gradient(
          to right,
          #7b4307 0 20px,
          transparent 20px 32px
        ) bottom left / 100% 2px no-repeat,

          /* left */
        repeating-linear-gradient(
          to bottom,
          #7b4307 0 20px,
          transparent 20px 32px
        ) top left / 2px 100% no-repeat,

          /* right */
        repeating-linear-gradient(
          to bottom,
          #7b4307 0 20px,
          transparent 20px 32px
        ) top right / 2px 100% no-repeat;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      max-width: 304px;
      width: 100%;
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}