.button {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--color-secondary-default);
  border-radius: 100px;
  justify-content: center;
  color: inherit;

  &--circle {
    padding: 12px;
  }

  &--transparent {
    background-color: transparent;
  }

  @include hover {
    background-color: var(--color-secondary-hovered);
  }

  &:active {
    background-color: var(--color-secondary-pressed);
  }

  &__label {
    font-weight: 500;
  }

  &[disabled] {
    background-color: var(--color-secondary-default);
    color: var(--color-disabled-text);
  }

  &--dark {
    background-color: var(--color-primary-default);
    color: var(--color-bg);

    @include hover {
      background-color: var(--color-primary-hovered);
    }

    &:active {
      background-color: var(--color-primary-pressed);
    }
  }
}